body{
    /* position: abs; */
    background-color: #027bc6;
    width: 200px;
    height: 120px;
}
input[name="username"]{
    left:80px;
    top:10px;
}
input[name="password"]{
    left:80px;
    top:30px;
}
input[name="url"]{
    left:80px;
    top:80px;
}
label[for="username"]{
    left:10px;
    top:10px;
    /* background-color: blueviolet; */
}
label[for="password"]{    
    left:10px;
    top:30px;
    /* background-color: rgb(43, 137, 226); */
}
label[for="url"]{
    left:10px;
    top:80px;
}
label{
    position: fixed;
    width:70px;
}
input{
    position: fixed;
    width:120px;
}
button{    
    position: fixed;
    left:10px;
    border-radius: 5px;
    border-width: 1px;
}
div{
    position: fixed;
    background: #0d64ab;
    width:210px;
    height:55px;
    top:75px;
    left:5px;
    border-radius: 10px;
}
.sve{ top:50px; }
.url{ top:105px; }