body{
    /* position: fixed; */
    background-color: #027bc6;
    width: 200px;
    height: 100px;
}
input[name="username"]{
    position: fixed;
    left:80px;
    top:10px;
}
input[name="password"]{
    position: fixed;
    left:80px;
    top:30px;
}
label[for="username"]{
    position: fixed;
    left:10px;
    top:10px;
    /* background-color: blueviolet; */
}
label[for="password"]{
    position: fixed;
    left:10px;
    top:30px;
    /* background-color: rgb(43, 137, 226); */
}
label{width:70px;}
input{width:100px;}
.sve{
    position: fixed;
    left:10px;
    top:60px;
}