.SEEN{
    position: absolute;
    overflow: hidden;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    opacity: 0.5;
}
.tidbits_seen.tidbits_enable{
    position: relative;
    background:url('../icons/seen.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.tidbits_seen.tidbits_enable > a{
    opacity: 0.2;
}
.tidbits_hide{
    display: none;
}
h3:has(> input[name="Subscriptions"]){
    display: flex;
}
label[for="Subscriptions"]{
    display: block;

    text-align: center;
    margin: auto;
    font-size: medium;
    min-width: 30px;
    padding: 4px;

    border-top-left-radius: 20% 30%;
    border-top-right-radius: 20% 30%;
    border-bottom-left-radius: 20% 30%;
    border-bottom-right-radius: 20% 30%;

    background-color: #f2f2f2;

    pointer-events: none;
    user-select: none;
}

ytd-guide-entry-renderer:nth-of-type(5n){
    background-color: rgb(230, 230, 230);
}
ytd-guide-entry-renderer:nth-of-type(10n){
    background-color: rgb(200, 200, 200);
}

.tidbits_interactions{
    width: var(--yt-button-icon-size,var(--yt-icon-width,40px));
    height: var(--yt-button-icon-size,var(--yt-icon-height,40px));

    display: flex;
}
.tidbits_interactions:hover{
    border-radius: 100%;
    background-color: rgb(230, 230, 230);
}

#tidbits_seenvid_btn img{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.tidbits_spotlight:hover{
    box-shadow: 0px 0px 0px 1000000px #000000d8;
    z-index: 999999;
}